.hello {
	color: orangered;
	height: 35px;
	width: 99%;
	font-size: 24px;
	font-style: oblique;
	margin: 20px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}
.logo {
	width: auto;
	height: 35px;
	opacity: 0.9;
	margin-left: 20px;
	-webkit-transition: opacity 250ms;
	transition: opacity 250ms;
}
.not-required {
	color: lightblue;
}
.onemore-not-required {
	color: goldenrod;
}
